.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #adb0b458;
  z-index: 10;
}

.navbar-logo {
  width: 60px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.navbar-logo.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -120%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: #adb0b458;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-out;
  z-index: 5;
}

.overlay.open {
  transform: translate(-50%, 120%);
}

.overlay a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 1em;
  transition: color 0.3s ease-out;
}

.overlay a:hover {
  color: #3498db;
}
